<!DOCTYPE html>

<html>
    <head>
        <title>Bienvenido</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        
        {% block stylesheets %}
        <link href="{{ asset('/css/redireccionar.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        
    </head>
    <body id="cuerpo">
{{ ola }}        
  </body>
</html>