<!DOCTYPE html>

<html>
    <head>
        <title>Bienvenido</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
     {{ hola }}
        
  </body>
</html>