{% extends "::inicio.html.twig"%}
   
   
    {% block title%}
         Informacion
    {%endblock%}
          
    {% block sub %}
           <h1>Informacion.</h1>
    {% endblock %}   
                 
    {% block body %} 
                     
        {% include 'LaloPruebaBundle:Default:formulario.html.twig' %}
                     
    {% endblock  %}
           
